// 제목 스타일링
.universal-wrapper h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;        // 텍스트 색상 추가
  margin-bottom: 80px; // 제목과 리스트 사이에 40px 여백 추가
}

.media.stream-item.view-compact {
  border-bottom: 1px solid #ccc;  /* 구분선 추가 */
  padding-bottom: 20px;  /* 선과 텍스트 사이의 간격 */
  margin-bottom: 20px;   /* 선과 다음 항목 사이의 간격 */
}

.media.stream-item.view-compact:last-child {
  border-bottom: none;  /* 마지막 항목에는 구분선 제거 */
}

.cta-group {
  justify-content: center;
}

.portrait-title h2 {
  font-weight: bold;  // 글자 굵기
}

h1.mb-0 strong {
  display: block; /* strong 태그를 블록 요소로 변경 */
  color: yellow;  /* 특정 strong 텍스트만 노란색으로 변경 */
  text-align: left; /* 블록 요소로 변경 후 왼쪽 정렬 적용 */
}

div.col-12 strong{
  display: block;
  font-size: 2rem;
}
.icon-custom {
  width: 24px;
  height: 24px;
  fill: currentColor; /* 아이콘 색상을 텍스트 색상에 맞추도록 설정 */
}





