// 제목 스타일링
.universal-wrapper h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #111;        // 텍스트 색상 추가
  margin-bottom: 80px; // 제목과 리스트 사이에 40px 여백 추가
}

.media.stream-item.view-compact {
  border-bottom: 1px solid #ccc;  /* 구분선 추가 */
  padding-bottom: 20px;  /* 선과 텍스트 사이의 간격 */
  margin-bottom: 20px;   /* 선과 다음 항목 사이의 간격 */
}

.media.stream-item.view-compact:last-child {
  border-bottom: none;  /* 마지막 항목에는 구분선 제거 */
}

.cta-group {
  justify-content: center;
}

.portrait-title h2 {
  font-weight: bold;  // 글자 굵기
}

h1.mb-0 strong {
  display: block; /* strong 태그를 블록 요소로 변경 */
  color: yellow;  /* 특정 strong 텍스트만 노란색으로 변경 */
  text-align: left; /* 블록 요소로 변경 후 왼쪽 정렬 적용 */
}

div.col-12 strong{
  display: block;
  font-size: 2rem;
}
.icon-custom {
  width: 24px;
  height: 24px;
  fill: currentColor; /* 아이콘 색상을 텍스트 색상에 맞추도록 설정 */
}

/* 카드 모서리를 둥글게 하고, overflow를 숨깁니다 */
.card-simple {
  border-radius: 15px; /* 모서리 둥글게 */
  overflow: hidden; /* 이미지가 둥근 모서리 밖으로 넘치지 않도록 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자를 추가하여 시각적 효과 */
}

.article-banner {
  width: 100%; /* 이미지가 카드 너비에 맞게 설정 */
  height: auto; /* 이미지의 원본 비율을 유지하여 높이를 자동으로 설정 */
  object-fit: cover; /* 이미지가 카드 영역을 완전히 덮도록 설정하면서 비율을 유지 */
}

/* 제목을 중앙으로 정렬 */
h1 {
  text-align: center;
}

/* 메타데이터도 중앙 정렬 */
.article-metadata {
  text-align: center;
}



