{{ $items := .Pages }}
<div class="card-layout">
  {{ range $index, $item := $items }}
    <div class="card">
      <h3>{{ add (mul $index 2) 1 | printf "%02d" }}. {{ $item.Title }}</h3>
      <div class="card-content">
        <img src="{{ $item.Params.thumbnail }}" alt="{{ $item.Title }}" class="card-image" />
        <div class="card-description">
          <p>{{ $item.Params.description }}</p>
          <p><strong>Viewport:</strong> {{ $item.Params.viewport }}</p>
          <p><strong>IE support:</strong> {{ $item.Params.ie_support }}</p>
          <p><strong>Palette:</strong> <span style="background-color: {{ $item.Params.palette }};">{{ $item.Params.palette }}</span></p>
          <div class="card-links">
            <a href="{{ $item.Params.demo_link }}" class="button">Demo</a>
            <a href="{{ $item.Params.repos_link }}" class="button">Repos</a>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <p>Category: {{ $item.Params.category }}</p>
        <p>Related keywords: {{ $item.Params.keywords }}</p>
      </div>
    </div>
  {{ end }}
</div>
